main{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center;
	background-color: #fefe;
	padding:1rem;
}
select{
	margin:1rem;
}
table{
	margin:1rem;
	padding:0.5rem;
}
td{
	margin:0.5rem;
	padding:0.5rem;
	text-align: right;
}
